{% extends "base.html" %}

{% block title %}Об авторе{% endblock %}

{% block content %}
<section class="author-section">
    <div class="author-card">
        <!-- ИКОНКА + НИК В ОДНОЙ СТРОКЕ -->
        <div class="author-header">
            <img class="author-icon-img" src="https://ddragon.leagueoflegends.com/cdn/{{ ddragon_version }}/img/profileicon/7126.png" alt="Иконка Пандемониум Киндред">
            <div class="author-info">
                <h2 class="author-name">Выйди из ульты#метка</h2>
                <div class="author-stats">
                    <span class="author-rank"> Пик: <strong>Мастер</strong></span>
                    <span class="author-badge">🏆 Топ 2 RU</span>
                    <span class="author-badge">🌍 319 мир</span>
                </div>
            </div>
        </div>

        <!-- ТЕКСТ -->
        <div class="author-text">
            <p>
                Всем привет! Я Зайнутдинов Хамзат, игрок в League of Legends. Я мейнер Киндред и решил создать этот гайд в виде сайта, чтобы помочь вам научиться играть на этом прекрасном персонаже. Моё пиковое эло — Мастер. На RU сервере доходил до Топ 2 Киндред, а также 319 Киндред в мире. В этом гайде я поделюсь своим опытом игры на Вечных охотниках.
            </p>
        </div>

        <!-- СКРИНШОТЫ (ТЕПЕРЬ ОНИ БОЛЬШЕ) -->
        <div class="author-screenshots">
            <div class="screenshot-item" onclick="openModal('/static/images/прочее/Elo.jpg', 'Пик: Мастер')">
                <img src="/static/images/прочее/Elo.jpg" alt="Пик эло — Мастер">
                <span>Пик: Мастер</span>
            </div>
            <div class="screenshot-item" onclick="openModal('/static/images/прочее/top2.jpg', 'Топ 2 RU')">
                <img src="/static/images/прочее/top2.jpg" alt="Топ 2 Киндред">
                <span>Топ 2 RU</span>
            </div>
           <div class="screenshot-item" onclick="openModal('/static/images/прочее/top319.jpg', '319 мира')">
                <img src="/static/images/прочее/top319.jpg" alt="319 Киндред в мире">
                <span>319 мира</span>
            </div>
        </div>
        <!-- ССЫЛКА -->
        <a href="https://www.op.gg/summoners/ru/Выйди%20из%20ульты-метка" target="_blank" class="author-link">
            🔗 OP.GG
        </a>
    </div>
    <div class="modal" id="imageModal">
    <span class="modal-close" id="modalClose">&times;</span>
    <img class="modal-content" id="modalImg">
    <div class="modal-caption" id="modalCaption"></div>
</div>
</section>


{% endblock %}