{% extends "base.html" %}

{% block title %}Билды Киндред{% endblock %}

{% block content %}
<div class="splash-bg">
    <section class="champion">
        <h1 class="main-theme"><i>Билды на чемпиона</i> </h1>
        <h2 class="nickname"><i>Вечные охотники</i></h2>
        <h1 class="character-name"><i>КИНДРЕД</i></h1>
        <p class="subtitle">от Выйди из ульты</p>
    </section>
</div>

<div class="transition-black">
</div>

<div class="blue-divider">
    <span class="blue-line"></span>
</div>


<section class="blue-bg">
    <div class="ability-left-col">
        <h2 style="justify-content: flex-start; padding-top: 40px;">1. Тринити крит</h3>
        <p class="text" style="text-align: justify; max-width: 90%;">Билд, при котором Вы хотите быть основным источником урона, но при этом иметь в начале игры живучесть</p>
        <p class="text" style="text-align: justify; max-width: 90%;">Основной слот - это тройственный союз, вторым берем - хексприцел c44 (но есть альтернатива в виде сборщика долгов), доминик можно заменить на глашатай смерти для хиллреза или c44,
        если броню не билдят. При фулл билде можно продать ботинок и купить призрачного танцора, далее вместо тройственного взять кровопийцу. В качестве ситуативного слота можно взять ятаган против контроля,
    ангел хранитель для воскрешения, скорострельную пушку (учтите, что у Вас не должно быть 125% крита в билде), рандуин против большого количества крита. Рукерн против большого количества ап урона.
     Ботинок берете либо на броню, либо на магрез. </p>
    </div>
    <div class="ability-right-col" style="align-items: center; justify-content: center;">
        <img class="items-img" src="/static/images/build/тринити крит.png" alt="Тринити крит">
        <div></div>
        <div></div>
    </div>
</section>

<div class="gold-divider">
            <span class="gold-line"></span>
</div>
<section class="blue-bg">
    <div class="ability-left-col">
        <h2 style="justify-content: flex-start; padding-top: 40px;">2. Кракен крит</h3>
        <p class="text" style="text-align: justify; max-width: 90%;">Билд, при котором Вы также хотите быть основным источником урона, но Вам не нужны дополнительные хп в начале игры.</p>
        <p class="text" style="text-align: justify; max-width: 90%;">Альтернативные предметы такие же, как у тринити крит. </p>
    </div>
    <div class="ability-right-col" style="align-items: center; justify-content: center;">
        <img class="items-img" src="/static/images/build/кракен крит.png" alt="кракен крит">
        <div></div>
        <div></div>
    </div>
</section>

<div class="gold-divider">
            <span class="gold-line"></span>
</div>

<section class="blue-bg">
    <div class="ability-left-col">
        <h2 style="justify-content: flex-start; padding-top: 40px;">3. Кайт билд</h3>
        <p class="text" style="text-align: justify; max-width: 90%;">Билд против врагов, которых нужно кайтить. При этом хп в билде не даст вас лопнуть.</p>
        <p class="text" style="text-align: justify; max-width: 90%;">Призрачный танцор можно заменить на с44, если нужно больше урона и меньше скорости передвижения. Мерки против маг. урона и контроля.</p>
    </div>
    <div class="ability-right-col" style="align-items: center; justify-content: center;">
        <img class="items-img" src="/static/images/build/кайт билд.png" alt="Кайт билд">
        <div></div>
        <div></div>
    </div>
</section>
<div class="gold-divider">
            <span class="gold-line"></span>
</div>
<section class="blue-bg">
    <div class="ability-left-col">
        <h2 style="justify-content: flex-start; padding-top: 40px;">4. Анти гибрид ассасин билд</h3>
        <p class="text" style="text-align: justify; max-width: 90%;">Билд, который берется против команд с ассасинами разного типа урона</p>
        <p class="text" style="text-align: justify; max-width: 90%;">В качестве альтернатив можно взять вечный голод. Он даст много кдра, что позволит иметь ульт в каждом файте, помимо этого появится возможность использовать несколько раз E умение.
            Если враги берут броню или хилятся, то можно взять доминик или глашатай, для стойкости или магреза есть мерки. Брать зеленого пета.</p>
    </div>
    <div class="ability-right-col" style="align-items: center; justify-content: center;">
        <img class="items-img" src="/static/images/build/анти гибрид ассасин.png" alt="Анти ассасин билд">
        <div></div>
        <div></div>
    </div>
</section>

<div class="gold-divider">
            <span class="gold-line"></span>
</div>

<section class="blue-bg">
    <div class="ability-left-col">
        <h2>5. Ассасин билд</h2>
        <p class="text" style="text-align: justify; max-width: 90%;">Билд, который берется против команд с ассасинами разного типа урона</p>
        <p class="text" style="text-align: justify; max-width: 90%;">Билд берется, если у врагов все цели тонкие. С помощью билда можно лопнуть цель за пару секунд. Максить ешку вторым. Брать красного питомца.</p>
    </div>
    <div class="ability-right-col" style="align-items: center; justify-content: center;">
        <img class="items-img" src="/static/images/build/ассасин билд.png" alt="Ассасин билд">
        <div></div>
        <div></div>
    </div>
</section>

<div class="gold-divider">
    <span class="gold-line"></span>
</div>

    <section  class="blue-bg">
        <div class="ability-left-col">
            <h2 style="justify-content: flex-start; padding-top: 40px;">Какого питомца брать?</h3>
                <p class="text">Если у врагов много бурста или у Вас нет фронта, то зеленого. Иначе красного</p>
        </div>

        
        <div class="ability-right-col" style="align-items: center; justify-content: center;">
            <img class="items-img" src="/static/images/build/петы.png" alt="Питомцы">
            <div></div>
            <div></div>
        </div>
    </section>
{% endblock %}