    {% extends "base.html" %}

    {% block title %}Гайд по Киндред{% endblock %}

    {% block content %}



<div class="splash-bg">
    <section class="champion">
        <h1 class="main-theme"><i>Гайд по чемпиону</i> </h1>
        <h2 class="nickname"><i>Вечные охотники</i></h2>
        <h1 class="character-name"><i>КИНДРЕД</i></h1>
        <p class="subtitle">от Выйди из ульты</p>
        <div class="role-container">
            <div class="role">
                <img src="/static/images/прочее/роль.png">
            </div>
            <div class="parametrs">
                <img src="/static/images/прочее/показатели.png"></div>
            <div class="hard">
                <img src="/static/images/прочее/сложность.png">
            </div>
        </div>
    </section>
</div>

<div class="transition-black"></div>
<div class="blue-divider">
        <span class="blue-line"></span>
</div>

<div class="second-bg-wrapper">
    
    <div class="black-overlay-left">
        <div class="wrapper">
            <div class="container">
                <section class="character-desc"> 
                    <h2> О персонаже</h2>
                    <p class="text">    Киндред - один из уникальнейших пероснажей League of Legends и по совместительству один из сложнейших лесников. </p>
                    <p class="text">    Персонаж является по игре лесным стрелком-автоатакером преимущественно с физическимм уроном, 
        ориентирующийся на нанесении огромного урона с дистанции. Имеет неплохую раннюю игру и очень сильные скейлы.</p>
                    <p class="text">    Овечка и волк очень сильно зависят от своих меток (пассивного умения), золота и опыта, если у Вас не будет достаточного количества,
        хотя бы одного ресурса, то играть будет тяжело.</p>
                    <p class="text">    В лесу вечные охотники имеют хорошую мобильность, за счет Q-умения (Танец стрел),
        этот рывок позволяет не только преодолеть дистанцию, но и прыгать вокруг стен, что дает им большое преимущество</p>
                    <p class="text">    Киндред - это персонаж, который может победить врагов любого класса, начиная с танков засчет постоянного,
        гибридного, процентного урона, заканчивая ассасинами, с помощью позиционки, итемизации и ультимейта (Милость овечки) </p>
                    <p class="text">    Зачастую этот персонаж очень хрупок, предсказуем в руках неопытных игроков,
        зависим от драфта и не имеет практически никакого эффекта контроля.</p>
                </section>
            </div>
        </div>
    </div>
    <div class="second-bg"></div>
    
</div>
    <div class="blue-divider line-before-ability">
        <span class="blue-line"></span>
    </div>
    <!--<div class="transition-black2"></div>
    <div class="third-bg-wrapper">
        <div class="black-overlay-left"></div>
        <div class="third-bg"></div>
    </div>-->

    <div class="blue-bg abilities-section">
        
        <!-- ЛЕВАЯ КОЛОНКА: Заголовок и кнопки -->
        <div class="ability-left-col">
            <h2>УМЕНИЯ</h2>
            
            <div class="ability-selector">
                <button class="ability-btn active" data-ability="p">
                    <img src="/static/images/abilities/Kindred_Passive.png" alt="P">
                </button>
                <button class="ability-btn" data-ability="q">
                    <img src="/static/images/abilities/KindredQ.png" alt="Q">
                </button>
                <button class="ability-btn" data-ability="w">
                    <img src="/static/images/abilities/KindredW.png" alt="W">
                </button>
                <button class="ability-btn" data-ability="e">
                    <img src="/static/images/abilities/KindredEWrapper.png" alt="E">
                </button>
                <button class="ability-btn" data-ability="r">
                    <img src="/static/images/abilities/KindredR.png" alt="R">
                </button>
            </div>
        </div>

        <!-- ПРАВАЯ КОЛОНКА: Видео и Описание -->
        <div class="ability-right-col">
            <div class="ability-video">
                <video width="560" height="315" controls preload="metadata">
                    <source id="video-source" src="/static/videos/Passive Kindred.mp4" type="video/mp4">
                </video>
            </div>
            
            <div class="ability-info">
                <h3 id="ability-name">P - Знак Киндред</h3>
                <p id="ability-description" class="text">
                    По нажатию на иконку чемпиона на специальной панели, овечка помечает чемпиона меткой в течение 8 секунд, при участии в убийстве помеченного врага, Киндред забирают метку. Волк ставит метки на лесных монстров не своего леса. Метки усиливают базовые умения и увеличивают дальность автоатак. На 4 метке дальность увеличивается на 75 единиц, каждые последующие 3 - на 25.
                </p>
            </div>
        </div>

    </div>
        <div class="gold-divider">
            <span class="gold-line"></span>
        </div>
    <section class="runes">
    <div class="blue-bg" style="min-height: auto;">
        
        <!-- ЛЕВАЯ КОЛОНКА: Заголовок и текст -->
        <div class="ability-left-col" style="justify-content: flex-start; padding-top: 40px;">
            <h2  style="font-size: 85px; margin-bottom: 20px;">РУНЫ</h2>
            
            <p class="text" style="text-align: justify; max-width: 90%;">
                В качестве основных рун в основном используют решительное наступление, с триумфом, 
                легендой: рвение и ударом милосердия. В качестве побочных рун берут магическую обувь 
                и космическое знание с осколками на скорость атаки, адаптивную силу и 65 хп.
            </p>
            
           
        </div>
        <div class="ability-right-col" style="align-items: center; justify-content: center;">
            <img class="runes-img" src="/static/images/runes/стандартные руны.png" alt="Стандартные руны">
             <p class="text" style="text-align: center; margin-top: 20px;">
                Более подробно узнать про руны для Киндред можно <a href="/runes">здесь</a>.
            </p>
        </div>

    </div>
    </section>
    <div class="gold-divider">
        <span class="gold-line"></span>
    </div>
    <section class="items">
        <div class="blue-bg" style="min-height: auto;">
            <div class="ability-left-col" style="justify-content: flex-start; padding-top: 40px;">
        <h2> БИЛД</h2>
        <p class="text">В качестве стандартного билда я рекомендую использовать тринити-крит билд. В качестве питомца берите красного, но если много бурста, то можно взять зеленого.</p>
        <p class="text">Основной слот - это тройственный союз, вторым берем - хексприцел c44 (но есть альтернатива в виде сборщика долгов), доминик можно заменить на глашатай смерти для хиллреза или c44,
            если броню не билдят. При фулл билде можно продать ботинок и купить призрачного танцора, далее вместо тройственного взять кровопийцу. В качестве ситуативного слота можно взять ятаган против контроля,
        ангел хранитель для воскрешения, скорострельную пушку (учтите, что у Вас не должно быть 125% крита в билде), рандуин против большого количества крита. Рукерн против большого количества ап урона.
        Ботинок берете либо на броню, либо на магрез. </p>
        </div>
        <div class="ability-right-col" style="align-items: center; justify-content: center;">
        <img class="items-img" src="/static/images/build/тринити крит.png" alt="Билд">
        <p class="text"> Больше о билдах можно узнать <a href="/builds">здесь</a></p>
        </div>
        </div>
    </section>
        <div class="blue-divider">
            <span class="blue-line"></span>
        </div>  
    
    <section class="guide">

    <h2>КАК ИГРАТЬ НА КИНДРЕД</h2>

    <div class="guide-grid">
        <div class="guide-card">
            <div class="step-number">01</div>
            <h3>Общая информация</h3>
            <p>Киндред необходимы метки, однако если Вы понимаете, что вражеский лесник или кто-то другой сможет Вас убить на метке, то не рискуйте. Лесники обычно не знают, где заранее появится метка, в отличие от Вас, так что пользуйтесь этим. Помните, что Вы стрелок, поэтому позиционируйтесь позади союзников в драках. Фармите минимум 150 крипов к 20 минуте.</p>

                    </div>

        <div class="guide-card">
            <div class="step-number">02</div>
            <h3>Начало игры</h3>
            <p>Первую метку ставьте на лесника, так как с ним столкновение в начале игры более вероятно. В большинстве случаев, Киндред начинают с чистки одного из бафов (прокачайте W на первом уровне, если не будет драк, иначе Q). Затем делаете фуллклир. Фуллклир более безопасный вариант, который даст Вам 4 уровень и возможно краба. После ищите возможность для ганга. Никогда не делайте лвл2 ганги, даже если убийство гарантированное.</p>

                    </div>

        <div class="guide-card">
            <div class="step-number">03</div>
            <h3>Инвейды</h3>
            <p>Если Вы решите инведйить на лвл2,то лучше делать это за красную команду, прокачав Q и начав чистить птиц. Затем инвейдите на вражеского громпа.
            По дороге к громпу, перепрыгните стену барон пита. И идите во вражеский лес через проход, что ближе к топу. Как только увидите громпа, крадите через смайт, убейте или хотя бы прогоните врага и убедитесь, что враги с топа и мида не идут к Вам,
            если они не идут, то заберите волков, бэкайте и защитите свой синий лес.  если врага нет, то заберите баф и громпа.
            Вард поставьте в кусте, который находится в проходе, что ближе к миду у выхода на реку, чтобы знать захочет ли враг Вас инвейднуть. Более подробную информацию можно найти  <a href="/matchups">здесь.</a></p>
        </div>

        <div class="guide-card">
            <div class="step-number">04</div>
            <h3>Мид-лейт гейм</h3>
            <p>В мидгейме фармите и играйте вокруг объектов по возможности. Выберите сильнейшего союзника, с которым Вы можете играть. Следите за местоположением врагов, Вас будут инвейдить. В лейте никогда не ходите по одному. Следите за своей позиционкой в файтах, Вы должны играть в бэклайне. На Вас определенно кто-то захочет напасть, будьте готовы отойти или нажать ульт.</p>
        </div>
    </div>
</section>
<div class="blue-divider">
            <span class="blue-line"></span>
        </div>
    <section class="tips">
    <h2>✦ СОВЕТЫ ✦</h2>
    
    <div class="tips-grid">
        <div class="tip-card">
            <div class="tip-glow"></div>
            <p class="text">Обзор от W можно использовать для получения обзора в дракон/нашор пите, а Q перепрыгнуть стену пита для последующего стила объекта.</p>
        </div>
        
        <div class="tip-card">
            <div class="tip-glow"></div>
            <p class="text">Ульта работает и на объекты, что может помочь выбить кару у врага, если использовать в момент, когда вражеский лесник захочет использовать ее.</p>
        </div>
        
        <div class="tip-card">
            <div class="tip-glow"></div>
            <p class="text">Прыжки через стену очень помогают в драках</p>
        </div>
        
        <div class="tip-card">
            <div class="tip-glow"></div>
            <p class="text">Не используй ульту в союзника, если не уверен, что успеешь.</p>
        </div>
        
        <div class="tip-card">
            <div class="tip-glow"></div>
            <p class="text">Думайте прежде чем использовать W. Неправильно поставленная W может стоить жизни</p>
        </div>
        
        <div class="tip-card">
            <div class="tip-glow"></div>
            <p class="text">E лучше использовать, когда враг на низком здоровье, но иногда лучше дать раньше, чтобы союзник мог попасть умением по замедленному противнику</p>
        </div>
        
        <div class="tip-card">
            <div class="tip-glow"></div>
            <p class="text">Будьте готовы, что все враги будут фокусить именно Вас. И Ваши метки</p>
        </div>
        <div class="tip-card">
            <div class="tip-glow"></div>
            <p class="text">Прежде, чем забирать кемп не из своего леса, подумайте, появится ли на этом кемпе скоро метка. Если метка появится и есть возможность подождать, то дождитесь метки и заберите ее.</p>
        </div>
    </div>

</section>
        <div class="blue-divider">
            <span class="blue-line"></span>
        </div>
    <section class="mark-alghoritm">
    <h2>Алгоритм меток</h2>

    <div class="mark-grid">
        <div class="mark-card">
            <div class="step-number">01</div>
            <h3>0 меток</h3>
            <p>Если у Вас нет меток, то она появится только на речном крабе. Если Вы чистите лес с лесником в противоположные стороны и Вам не досталась метка, то можете вернуться на базу и прийти забрать краба. Через 15 секунд после смерти помеченного монстра, метка на карте исчезает и через 30 появляется новая. К тому моменту, как Вы придете на краба метка появится</p>

            </div>

        <div class="mark-card">
            <div class="step-number">02</div>
            <h3>1-3 метки</h3>
            <p>Метка может появится на крабах, громпе, птицах. Даже в таких ситуациях можно предиктить метки. Например: враг зачистил птиц, крабы мертвы, следовательно метка появится на живом громпе. </p>
        </div>

        <div class="mark-card">
            <div class="step-number">03</div>
            <h3>4-7 меток</h3>
            <p>Метка может появится либо на бафах, волках, крагах. Опять же, если Бафы мертвы, волки тоже, то можно заранее узнать, что метка появится на крагах</p>
        </div>

        <div class="mark-card">
            <div class="step-number">04</div>
            <h3>8+ меток</h3>
            <p>Метки появляются только на эпических монстрах. (Личинки, драконы, герольд, нашор)</p>
        </div>
    </div>
</section>
<div class="blue-divider">
            <span class="blue-line"></span>
        </div>
<section class="pros-cons">
    <h2>ПЛЮСЫ И МИНУСЫ</h2>
    
    <div class="pros-cons-grid">
        <!-- Плюсы -->
        <div class="pros-card">
            <div class="pros-header">
                <span class="pros-icon">✅</span>
                <h3>Плюсы</h3>
            </div>
            <ul class="pros-list">
                <li>Сильный 2-3 лвл</li>
                <li>Отличные скейлы</li>
                <li>Очень высокий урон</li>
                <li>Неплохая мобильность</li>
                <li>Гибридный процентный урон</li>
                <li>Гибкость сборок</li>
                <li>Высокая дальность атаки при наличии меток</li>
                <li>Скиллкапные</li>
            </ul>
        </div>
        
        <!-- Минусы -->
        <div class="cons-card">
            <div class="cons-header">
                <span class="cons-icon">❌</span>
                <h3>Минусы</h3>
            </div>
            <ul class="cons-list">
                <li>Очень хрупкие</li>
                <li>Зависят от меток, опыта, золота</li>
                <li>Сложные в освоении</li>
                <li>Не имеют хард-контроля</li>
                <li>Вражеская команда будет Вас фокусить</li>
                <li>Огромное количество контрпиков</li>
                <li>Из отставания играть очень тяжело</li>
            </ul>
        </div>
    </div>
</section>

        {% endblock %}