{% extends "base.html" %}

{% block title %}Руны для Киндред{% endblock %}

{% block content %}

<div class="splash-bg">
    <section class="champion">
        <h1 class="main-theme"><i>Руны на чемпиона</i> </h1>
        <h2 class="nickname"><i>Вечные охотники</i></h2>
        <h1 class="character-name"><i>КИНДРЕД</i></h1>
        <p class="subtitle">от Выйди из ульты</p>
    </section>
</div>

<div class="transition-black">
</div>

<div class="blue-divider">
    <span class="blue-line"></span>
</div>

<section class="blue-bg">
    <div class="ability-left-col">
        <h2 style="justify-content: flex-start; padding-top: 40px;">1. Решительное насупление</h2>
        <p class="text" style="text-align: justify; max-width: 90%;">У триумфа нет альтернатив, легенда: рвение даст скорость атаки, но можно заменить на родословную (вампиризм), удар милосердие лучшая руна в лесу для Киндред, позволяет добивать цели</p>
        <p class="text" style="text-align: justify; max-width: 90%;">В качестве побочной ветки берут либо доминирование (для агрессии), либо вдохновение (для стабильности). В доминировании берут внезапный удар и абсолютный охотник для кдра ульты. В вдохновении - магическую обувь и космическое знание.</p>
    </div>
    <div class="ability-right-col" style="align-items: center; justify-content: center;">
        <img class="runes-img" src="/static/images/runes/стандартные агрессивные руны.png">
        <img class="runes-img" src="/static/images/runes/стандартные руны.png">
        <div></div>
        <div></div>
    </div>
</section>
<div class="gold-divider">
            <span class="gold-line"></span>
</div>
<section class="blue-bg">
    <div class="ability-left-col">
        <h2 style="justify-content: flex-start; padding-top: 40px;">2. Смертельный темп</h2>
        <p class="text" style="text-align: justify; max-width: 90%;">Смертельный темп лучше использовать, если у врагов много 2+ жира. Хорошо работает для затяжных файтов. Скейлится лучше, чем решительное наступление, но в начале слабовата и требует меток.
         Побочные руны такие же. Против раммуса и амуму не брать.</p>
    </div>
    <div class="ability-right-col" style="align-items: center; justify-content: center;">
    <img class="runes-img" src="/static/images/runes/смертельный темп.png">

        <div></div>
        <div></div>
    </div>
</section>

<div class="gold-divider">
            <span class="gold-line"></span>
</div>
<section class="blue-bg">
    <div class="ability-left-col">
        <h2 style="justify-content: flex-start; padding-top: 40px;">3. Завоеватель</h2>
        <p class="text" style="text-align: justify; max-width: 90%;">Еще одна опция для длительных драк. Тяжеловато стакать руну, но скейлится лучше, чем решительное наступление, хоть и слабее в начале.</p>
    </div>
        <div class="ability-right-col" style="align-items: center; justify-content: center;">
    <img class="runes-img" src="/static/images/runes/конк.png">

        <div></div>
        <div></div>
    </div>
</section>

{% endblock %}